beautifulsoup4==4.6.0
configparser==3.5.0b2
funcsigs==1.0.2
get==0.0.0
joblib==0.11
logutils==0.3.5
mock==2.0.0
NaiveBayes==1.0.0
nltk==3.2.5
numpy==1.13.3
pbr==3.1.1
post==0.0.0
prettytable==0.7.2
public==0.0.0
query-string==0.0.0
request==0.0.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.34
scikit-learn==0.18.1
scipy==0.19.1
setupfiles==0.0.50
six==1.11.0
skll==1.3
